h1 {
    text-align: left;
    margin-left: 10px;
}

h5 {
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
}

ul {
    margin-top: 40px;
    margin-left: 40px;
}

/* steath links */
/* unvisited link */
a:link {
	text-decoration: none;
    color: #008388;
}

/* visited link */
a:visited {
	text-decoration: none;
    color: #205358;
}

/* mouse over link */
a:hover {
	text-decoration: none;
    color: #009388;
}

/* selected link */
a:active {
	text-decoration: none;
    color: #007861;
}